
    /* .table {
        border-collapse: collapse; */
        /* margin: 25px 0; */
        /* font-size: 1em; */
        /* max-width: 200%; */
        /* border: 2px solid #354f52; */
        /* text-align: center;
        min-width: 1000px;
      }
    
    .tr {
        background-color: #354f52;
        color: #fff;
        text-align: center;
        font-weight: bold;
        padding-left: 30%; */
      /* }
    
      .tr2 {
        border-bottom: 1px;
        padding: 12% 15%;
        background-color: #ffeddf;
      }
    
      .tr2:nth-of-type(even){
        background-color: #FFD8BE;
      }
    
      .tr2:last-of-type{
        border-bottom: 2px solid #354f52;
      } */
